
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;800&family=Noto+Sans+TC:wght@700&family=Rubik&display=swap');

*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  scroll-behavior: smooth;

}
a{
  text-decoration: none;
  color:gold;
}

.jud:hover{
  background-color: rgb(38, 33, 33);
  
}